<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jac.mybatis.mapper.DynamicSQLMapper">

    <select id="getEmpByConditionOne" resultType="com.jac.mybatis.pojo.Emp">
        select * from t_emp where
        <if test="empName != null and empName != ''">
            t_emp.emp_name = #{empName}
        </if>
        <if test="age != null and age != ''">
            and t_emp.age = #{age}
        </if>
        <if test="sex != null and sex != ''">
            and t_emp.sex = #{sex}
        </if>
        <if test="email != null and email != ''">
            and t_emp.email = #{email}
        </if>
    </select>

    <select id="getEmpByConditionTwo" resultType="com.jac.mybatis.pojo.Emp">
        select * from t_emp
        <where>
            <if test="empName != null and empName != ''">
                t_emp.emp_name = #{empName}
            </if>
            <if test="age != null and age != ''">
                and t_emp.age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                and t_emp.sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                and t_emp.email = #{email}
            </if>
        </where>
    </select>

    <select id="getEmpByConditionThree" resultType="com.jac.mybatis.pojo.Emp">
        select * from t_emp
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                t_emp.emp_name = #{empName} and
            </if>
            <if test="age != null and age != ''">
                t_emp.age = #{age} and
            </if>
            <if test="sex != null and sex != ''">
                t_emp.sex = #{sex} and
            </if>
            <if test="email != null and email != ''">
                t_emp.email = #{email}
            </if>
        </trim>
    </select>

</mapper>
